.App {
  text-align: center;
}

.App-hello {
  font-size: x-large;
  color: purple;
  margin: 15px;
}

.App-button {
  font-size: x-large;
  background-color: purple;
  color: white;
  padding: 1rem;
  border-radius: 15px;
}
